/* Base styles */
:root {
    --bg-color: #161616;
    --text-color: #e6e6e6;
    --link-hover-opacity: 0.7;
    --particle-color: #fff;
    --particle-line-color: rgba(255, 255, 255, 0.4);
    --icon-invert: 0;
}

:root[data-theme="light"] {
    --bg-color: #e6e6e6;
    --text-color: #161616;
    --particle-color: #161616;
    --particle-line-color: rgba(0, 0, 0, 0.4);
    --icon-invert: 1;
}

body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--text-color);
}

::selection {
    color: var(--bg-color);
    background: var(--text-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(75%);
        opacity: 0;
    }
    50% {
        transform: translateY(75%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes elasticSlideUp {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    60% {
        transform: translateY(-10%);
        opacity: 0.5;
    }
    80% {
        transform: translateY(5%);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
