body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #161616;
    color: #e6e6e6;
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
    overflow: hidden;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    display: grid;
    place-items: center;
    gap: 1em;
    max-width: 80%;
}

.logo-main {
    width: 16em;
    height: auto;
    animation: fadeIn 0.5s ease-in-out;
}

.subtitle {
    font-weight: 100;
    font-size: 2em;
    transform: translateY(-50%);
    border-right: 2px solid #e6e6e6;
    white-space: nowrap;
    margin: 1.5em auto 0 auto;
}

@media (max-width: 600px) {
    .subtitle {
        font-size: 1.5em;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 11.3em;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.links {
    display: flex;
    gap: 1em;
    z-index: 1;
    animation: fadeIn 1s ease-in-out;
}

.logo-link {
    text-decoration: none;
    width: 1.8em;
    transition: opacity 0.3s ease-in-out;
}

.logo-link:hover {
    opacity: 0.7;
}

::-moz-selection {
    color: #161616;
    background: #e6e6e6;
}

::selection {
    color: #161616;
    background: #e6e6e6;
}

.tippy-box {
    background-color: #e6e6e6;
    color: #161616;
    font-size: 0.9em;
    font-weight: 300;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: #e6e6e6;
}

.copy-notification {
    position: fixed;
    background: #e6e6e6;
    color: #161616;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 300;
    opacity: 0;
    transform: translate(-50%, 0);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.copy-notification.show {
    opacity: 1;
    transform: translate(-50%, 30px);
}
